@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap');

// logo
.logoFont {
  font-family: "Permanent Marker", cursive;
  font-size: 2rem;
}
// 頁面title
.routeFont {
  font-family: 'Noto Sans TC', sans-serif;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
}
// 主色按鈕內文字顏色
.btn-primary {
  & i {
    color: #fff;  
  }
}
// 購物車表單
.table {
  & .thead-primary tr th {
    padding: 20px 10px;
    color: #fff !important;
    border: 1px solid transparent !important;
  }
}

// animation
.transition-1 {
  transition: all 1s ease-in-out;
}

.scale-hover .nav-link{
  transition: .3s ease;
  transform: scale(1);
  &:hover {
  transform: scale(1.3);
  @media (max-width: 768px) {
    transform: none;
  }
  }
}

// fronted loading效果
@keyframes ldio-kc4k04s39o {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}
.ldio-kc4k04s39o div {
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-kc4k04s39o 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ldio-kc4k04s39o div:nth-child(1) {
  border-color: #59ab6e;
  animation-delay: 0s;
}
.ldio-kc4k04s39o div:nth-child(2) {
  border-color: #46dff0;
  animation-delay: -0.5s;
}
.loadingio-spinner-ripple-i0ld0lo9l1 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: rgba(146, 146, 146, 0);
}
.ldio-kc4k04s39o {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-kc4k04s39o div {
  box-sizing: content-box;
}
